---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="Support Avant">
  <Header />

  <div class="text-center p-12">
    <h1 class="text-4xl font-bold">Support the ASO</h1>
  </div>

  <div class="text-center p-12">
    <p class="text-gray-400 mt-4">
      The Avant Symphony Orchestra receives support from foundation and family grants, private individuals, and corporate donors. Your generosity helps us to realize our mission and deliver high-quality musical performances. We have a goal to raise $30,000 to fund our education and performance programs. We are grateful for any donation you could make towards this goal. Please consider increasing the impact of your donation with an employer-matched donation. Whatever amount you choose, your gift helps to keep our momentum going. We hope that you will partner with us to continue making significant contributions to Chicago’s musical offerings. The Avant Symphony Orchestra is a non-profit arts service organization (EIN #33-2692810) and donations are tax-deductible to the extent permitted by law.
    </p>
  </div>
    
  <div class="text-center p-12">
    <a href="https://www.paypal.com/donate/?hosted_button_id=YUWN9SKRAGM8C" target="_blank"
       class="inline-block mt-6 px-6 py-3 bg-white text-black rounded-lg">
       Donate Today!
    </a>
  </div>

  <Footer />
</BaseLayout>
